conda==4.4.10
futures==3.2.0
ipython==7.16.3
ipython-genutils==0.2.0
numpy==1.22.0
pandas==0.22.0
pathlib2==2.3.2
pysam==0.14.1
python-dateutil==2.7.2
scipy==1.11.1
SetCoverPy==0.9.1
pandasvcf==0.5.2
